:root {
    --primary-color: #0e2431;
    --secondary-color: #6a59d1;
    --tertiary-color: #777;
    --card-color: #fff;

    --btn-color: #fff;

    --hover-color: #614fd0;
    --hover-bg-color: rgba(0, 0, 0, .5);

    --header-bg-color: rgba(255, 255, 255, .1);
    --body-bg-color: #fefefe;
    --card-bg-color: #fff;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, .1);
    --primary-transparent-color: rgba(0, 0, 0, .1);
    --secondary-transparent-color: rgba(106, 89, 209, .1);
    --line-color: #d7d7d7;

    --color-filter: invert(1);

    --box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);

    --small-font-size: .9em;
    --normal-font-size: 1em;

    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--primary-color);
    background: var(--body-bg-color);
    margin: 2rem 0 0 0;
    transition: .5s ease;
    /*margin and transition?*/
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section {
    position: relative;
    /* ? */
    max-width: 1150px;
    margin: 0 auto;
    padding: 6rem 2rem 2rem;
    /* ?Ferqli ekran olculerinde paddingin olcusunu deyismek daha meslehetlidir.Bu meslehete riayet et. */
}
.sub-section {
    position: relative;
    /* ? */
    max-width: 1150px;
    margin: 0 auto;
    padding: 6rem 0;
}
/* ? */


.section-title-01 {
    font-size: 4.5em;
    font-weight: 800;
    margin-bottom: 2rem;
    background: linear-gradient(to top, transparent 0%, var(--primary-color) 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-fill-color? */
    opacity: .1;
}
.section-title-02 {
    font-size: 2.5em;
    font-weight: 700;
    transform: translateY(-80px);
}
.section-title-02:before {
    content: '';
    position: absolute;
    width: 70px;
    height: 5px;
    right: 0;
    bottom: 0;
    background: var(--secondary-color);
}
.container {
    position: relative;
    /* ? */
    flex-direction: column;
}
.red {
    border: 1px solid red;
}
.blue {
    border: 1px solid blue;
}
.green {
    border: 1px solid green;
}

/* Qeydler:
   
   1.calc- CSS-de 4 riyazi emeli heyata kecirmek ucun mutleq istifade etmeli oldugun funksiyadir.
           Background-image deki url ya da content-deki attr kimi bir css funksiyasidir calc.
   2.em- bu unit hansi elemente verilibse,o elementi ehate eden ana elementin olcusune esasen teyin edilir.
         Ana elementde olcu yoxdursa onu ehate eden ana elementin olcusunu esas goturur.Bu html elementine qeder gede biler.
   3.filter:invert()- Seklin rengini tam tersine cevirir yeni agi qaraya,qarani aga cevirir.
   4.position:relative- bezi yerlere bu propertinin verilme sebebi mence sehifede gezende aniden ortaya cixmasi ucun animeJS-de lazim olacaq.
   5.background-clip- arxa fonun serhedlerini teyin etmek ucun istifade olunur.
   6.

*/

.scrollToTop-btn {
    position: fixed;
    z-index: 11;
    right: 20px;
    bottom: 0;
    width: 45px;
    height: 45px;
    background: var(--primary-color);
    color: var(--btn-color);
    border-radius: 3px;
    cursor: pointer;
    font-size: var(--small-font-size);
    opacity: 0;
    transition: .5s ease;
}
.scrollToTop-btn.active {
    opacity: 1;
    bottom: 20px;
}


/* Header starts */

header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(20px);
    transition: .6s ease;
}
header.sticky {
    background: var(--header-bg-color);
    box-shadow: var(--box-shadow);
}
.nav-bar {
    position: relative;
    /* position? */
    height: calc(4rem + 1rem);
    /* height? */
    max-width: 1250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    margin: 0 auto;
    transition: .6s ease;
}
header.sticky .nav-bar {
    height: calc(2.5rem + 1rem);
}
.nav-bar .logo {
    color: var(--primary-color);
    font-size: 1.3em;
    font-weight: 600;
}
.nav-items a {
    color: var(--primary-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}
.nav-items a.active {
    color: var(--secondary-color);
}
.nav-items a:not(:last-child) {
    margin-right: 3.125rem;
}
.nav-items a:hover {
    color: var(--secondary-color);
}
.nav-menu-btn {
    display: none;
}

/* Header ends */

/* Home starts */

.home {
    position: relative;
    /* ? */
    max-width: 1250px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 4rem 2rem;
    flex-direction: column;
}
.home .home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.home-container .media-icons {
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
}
.home-container .media-icons a {
    color: var(--secondary-color);
    font-size: 1.5em;
    margin: .625rem 0;
}
.home-container .media-icons a:hover {
    color: var(--hover-color);
}
.home-container .info h2 {
    font-size: 4em;
    font-weight: 600;
    line-height: 5rem;
}
.home-container .info h3 {
    color: var(--tertiary-color);
    /* font-feature-settings: 1.3em; ?????*/
    font-size: 1.3em;
    font-weight: 600;
    line-height: 3rem;
}
.home-container .info p {
    color: var(--tertiary-color);
    font-size: var(--normal-font-size);
    max-width: 21.875rem;
}
.btn {
    background: var(--secondary-color);
    color: var(--btn-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    display: inline-block;
    margin-top: 1.5625rem;
    padding: 1.25rem 1.875rem;
    letter-spacing: .0625rem;
    border-radius: .625rem;
}
.btn:hover {
    background: var(--hover-color);
}
.home-container .home-img {
    position: relative;
    /* ? */
}
.home-container .home-img img {
    width: 90%;
    transform: translate(0, 0);
    /*width and transform?*/
    border-radius: 10px;
}
.home .scroll-down {
    color: var(--primary-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
    margin-top: 1.25rem;
}
.home .scroll-down i {
    color: var(--secondary-color);
    font-size: 1.2em;
    animation: arrow-down ease 2s infinite;
}
@keyframes arrow-down {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(10px);
    }
    /* ? */
}

/* Home ends */

/* About starts */

.about .container .content {
    width: 100%;
    column-gap: 40px;
}
.about-img {
    position: relative;
    /* ? */
}
.about-img img {
    max-width: 100%;
    min-width: 500px;
    border-radius: 10px;
}
.about-info .description {
    max-width: 600px;
}
.about-info .description h3 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
}
.about-info .description h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}
.about-info .description h4 span {
    color: var(--secondary-color);
}
.about-info .description p {
    color: var(--tertiary-color);
    font-size: var(--normal-font-size);
    margin-bottom: 15px;
    padding-bottom: 25px;
    border-bottom: 2px solid var(--line-color);
}
.about-info .professional-list {
    display: flex;
    column-gap: 30px;
}
.about-info .professional-list .list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 20px;
}
.about-info .professional-list .list-item h3 {
    font-size: 2.5em;
    font-weight: 700;
}
.about-info .professional-list .list-item span {
    color: var(--tertiary-color);
    font-size: var(--small-font-size);
}

/* About ends */

/* Skills start */

.skills .container .content {
    width: 100%;
}
.skills-description {
    max-width: 700px;
    margin-bottom: 50px;
}
.skills-description h3 {
    font-size: 2em;
    margin-bottom: 5px;
}
.skills-info {
    max-width: 100%;
    /* ? */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 0 auto;
    /* margin? */
}
.skills-info h4{
    margin-bottom: 20px;
}
.skills-info h4 label{
    /* label-i spanla deyisdir ya da sil mumkunse */
    background: var(--secondary-color);
    color: var(--btn-color);
    font-size: var(--normal-font-size);
    font-weight: 400;
    padding: 5px 15px;
    border-radius: 5px;
}
.education-all {
    margin-bottom: 80px;
}
.edu-list .item {
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    border-bottom: 3px solid var(--secondary-color);
    padding: 20px;
    margin-top: 15px;
    border-radius: 6px;
    transition: .3s ease;
}
.edu-list .item .year {
    font-size: var(--small-font-size);
    margin-bottom: 5px;
}
.edu-list .item p {
    color: var(--tertiary-color);
    font-size: var(--small-font-size);
}
.edu-list .item p span{
    color: var(--primary-color);
    font-size: var(--normal-font-size);
    font-weight: 500;
}
.bar {
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 6px;
    transition: .3s ease;
}
.bar .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    font-size: var(--small-font-size);
}
.bar .info span {
    font-weight: 500;
}
.bar .line {
    position: relative;
    width: 100%;
    height: 7px;
    background: var(--scroll-bar-color);
    border-radius: 2px;
}
.bar .line:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--secondary-color);
    border-radius: 2px;
}
.bar .html::before {
    width: 95%;
}
.bar .css::before {
    width: 65%;
}
.bar .javascript::before {
    width: 60%;
}
.bar .react::before {
    width: 50%;
}
.bar .jquery::before {
    width: 35%;
}
.experience-card {
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--secondary-color);
    padding: 35px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
    transition: .3s ease;
}
.experience-card .upper {
    line-height: 30px;
}
.experience-card h3 {
    font-size: 1.3em;
    font-weight: 700;
}
.experience-card h5 {
    font-size: var(--small-font-size);
    font-weight: 500;
    font-style: italic;
}
.experience-card span {
    color: var(--tertiary-color);
}
.experience-card .hr {
    width: 100%;
    height: 2px;
    background: var(--line-color);
    margin: 10px 0 22px;
}
.edu-list .item:hover, .bar:hover, .experience-card:hover {
    transform: scale(1.03);
}


/* Skills end */

/* Services start */

.services .container .content {
    width: 100%;
}
.services-description h3 {
    font-size: 2em;
    margin-bottom: 50px;
}
.service-list {
    max-width: 100%;
    /* ? */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    margin: 0 auto;
    /* ? */
}
.service-card {
    background: var(--card-bg-color);
    border-bottom: 3px solid var(--secondary-color);
    padding: 50px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}
.service-card > i {
    color: var(--secondary-color);
    font-size: 3em;
    margin-bottom: 30px;
}
.service-card h3 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}
.service-card .learn-more-btn {
    color: var(--tertiary-color);
    cursor: pointer;
    transition: .3s ease;
    /* ? */
}
.service-card .learn-more-btn i {
    transition: .3s ease;
}
.service-card:hover .learn-more-btn i {
    transform: translateX(10px);
}
.service-modal {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--bg-transparent-color);
    backdrop-filter: blur(10px);
    /*?backdrop-filter yerine filter yazmagi yoxla*/
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}
.service-modal.active {
    visibility: visible;
    opacity: 1;
}
.service-modal-body {
    position: relative;
    background: var(--modal-bg-color);
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: .5s ease;
}
.service-modal.active .service-modal-body {
    transform: translateY(0);
}
.service-modal-body .modal-close-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}
.service-modal-body h3 {
    font-size: 2em;
}
.service-modal-body h4 {
    font-size: 1.3em;
    font-weight: 600;
    margin: 15px 0 10px;
}
.service-modal-body ul li {
    margin-top: 15px;
}
.service-modal-body ul li i {
    color: var(--secondary-color);
}

/* Services end */

/* Portfolio starts */

.portfolio .container .content {
    width: 100%;
}
.portfolio-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 35px;
    max-width: 100%;
    margin: 0 auto;
    /*max-width ve margin?*/;
}
.portfolio-list .img-card {
    position: relative;
    max-width: 100%;
    /* ? */
    height: 360px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    cursor: pointer;
}
.portfolio-list .img-card .overlay {
    transition: 1s ease;
}
.portfolio-list .img-card:hover .overlay {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: var(--hover-bg-color);
}
.portfolio-list .img-card .info {
    position: absolute;
    z-index: 9;
    left: 0;
    bottom: 0px;
    color: var(--card-color);
    opacity: 0;
    transition: .5s ease;
}
.portfolio-list .img-card:hover .info {
    transform: translate(20px,-20px);
    opacity: 1;
}
.portfolio-list .img-card .info h3 {
    font-size: 1.5em;
}
.portfolio-list .img-card .info span {
    font-size: 1.2em;
}
.portfolio-list .img-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-model {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--primary-transparent-color);
    backdrop-filter: blur(20px);
    /*filterle deyistirmeyi yoxla?*/
    visibility: hidden;
    opacity: 0;
    transition: .3s ease;
}
.portfolio-model.active {
    visibility: visible;
    opacity: 1;
}
.portfolio-model-body {
    position: relative;
    background: var(--modal-bg-color);
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: .5s ease;
}
.portfolio-model.active .portfolio-model-body {
    transform: translateY(0);
}
.portfolio-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
}
.portfolio-model-body h3 {
    font-size: 1.5em;
}
.portfolio-model-body img {
    width: 100%;
    margin: 20px 0;
    border-radius: 10px;
}

/* Portfolio ends */


/* Get-In-Touch starts */

.get-in-touch {
    margin-top: 70px;
}
.get-in-touch .container .content {
    width: 100%;
}
.get-in-touch .contact-card {
    position: relative;
    width: 90%;
    background: var(--card-bg-color);
    box-shadow: var(--box-shadow);
    padding: 50px;
    border-radius: 10px;
    column-gap: 50px;
}
.contact-card .title {
    text-transform: uppercase;
    line-height: 60px;
}
.contact-card .title h4 {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 20px;
}
.contact-card .title h3 {
    font-size: 2.3em;
    font-weight: 400;
}
.contact-card .title h2 {
    font-size: 4.2em;
    font-weight: 700;
    background: linear-gradient(to top, transparent 0%, var(--primary-color) 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .9;
}

/* Get-In-Touch ends */

/* Clients start */

.our-client .container {
    flex-direction: column;
}
.our-client .container .content {
    width: 100%;
}
.client-swiper .swiper-wrapper {
    margin-bottom: 30px;
}
.client-swiper .swiper-slide {
    gap: 50px;
    margin: 20px 0;
}
.client-img {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
}
.client-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.client-details {
    max-width: 500px;
}
.client-details p {
    font-size: 1.2em;
    color: var(--tertiary-color);
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--line-color);
}
.client-details h3 {
    font-size: 1.5em;
    color: var(--primary-color);
}
.client-details span {
    font-size: 1.1em;
    color: var(--tertiary-color);
}
.swiper-button-next::after, .swiper-button-prev::after {
    content: ' ';
}
.swiper-button-next, .swiper-button-prev {
    color: var(--secondary-color);
    font-size: 3em;
}
.swiper-pagination-bullet, .swiper-pagination-bullet-active {
    background: var(--secondary-color);
}

/* Clients end */


/* Contact starts */

.contact .container .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contact-left h2 {
    font-size: 2.1em;
    font-weight: 800;
    margin-bottom: 40px;
}
.contact-list li {
    margin-bottom: 40px;
}
.contact-list li h3 {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact-list li h3 i {
    color: var(--second-color);
    font-size: 1.3em;
    margin-right: 10px;
}
.contact-list li span {
    color: var(--tertiary-color);
    margin-left: 40px;
}
.contact-list li span a {
    color: var(--tertiary-color);
}
.contact-right p {
    color: var(--tertiary-color);
    font-size: 1.6em;
    margin-bottom: 30px;
}
.contact-right p span {
    color: var(--primary-color);
    font-weight: 700;
}
.contact-form input, .contact-form textarea {
    border: none;
    outline: none;
    color: var(--primary-color);
    background: var(--secondary-transparent-color);
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}
.contact-form textarea {
    width: 100%;
    resize: none;
}
::placeholder {
    color: var(--primary-color);
}
.contact-form .first-row input {
    width: 100%;
}
.contact-form .second-row {
    display: flex;
    justify-content: space-between;
}
.contact-form .second-row input {
    width: 48%;
}
.contact-form .btn {
    border: none;
    margin-top: 0;
    cursor: pointer;
    border-radius: 5px;
}

/* Contact ends */


/* Footer starts */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    width: 100%;
    margin-top: 50px;
    padding: 3rem 2rem;
    color: var(--card-color);
}
footer a {
    color: var(--card-color);
}
.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1150px;
    /* Yuxaridaki ikisi daha once yazdigim width ve max-width:600px ile oxsarligi var.Yoxla.?*/
}
.footer-container .about h2 {
    font-size: 3em;
    font-weight: 600;
    background: linear-gradient(to top, transparent 0%, var(--modal-bg-color) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: .8;
}
.footer-container .about p {
    font-size: var(--normal-font-size);
    font-weight: 300;
    margin-bottom: 30px;
}
.footer-container .info,
.footer-container .follow
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-container .info h3,
.footer-container .follow h3
{
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 30px;
}
.footer-container .info ul,
.footer-container .follow ul
{
    display: flex;
}
.footer-container .info a {
    margin: 20px;
}
.footer-container .follow a {
    font-size: 1.5em;
    margin: 20px;
}
.footer-copyright .group p {
    font-size: var(--normal-font-size);
    font-weight: 300;
    margin-top: 50px;
}


/* Footer ends */




/* Breakpoints */

@media (max-width: 1070px) {

    /* Header starts */

    .navigation {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--primary-transparent-color);
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
    }
    .navigation.active {
        visibility: visible;
        opacity: 1;
        /* ? kliklemeden ortaya cixma problemi */
    }
    .nav-items {
        position: relative;
        background: var(--modal-bg-color);
        width: 600px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        padding: 40px;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        transform: translateY(-50px);
        transition: .3s ease;
    }
    .navigation.active .nav-items {
        transform: translateY(0);
    }
    .nav-items a {
        margin: 15px 50px;
    }
    .nav-close-btn {
        position: absolute;
        top: 0;
        right: 0;
        background: url('../img/closeBTN.png') no-repeat center;
        background-size: 12px;
        width: 40px;
        height: 40px;
        margin: 10px;
        cursor: pointer;
    } 
    .nav-menu-btn {
        background: url('../img/menuBTN.png') no-repeat center;
        background-size: 30px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
    }
    
    /* Header ends */

    /* Home starts */

    .home .home-container .info {
        font-size: .85rem;
    }
    
    /* Home ends */

    /* About starts */

    .about .container .content {
        display: grid;
        width: 100%;
        row-gap: 20px;
    }
    .about-img img {
        min-width: 0;
        width: 100%;
    }
    .about-info {
        min-width: 0;
        width: 100%;
    }
    .about-info .professional-list {
        flex-direction: column;
    }
    .about-info .professional-list .list-item {
        justify-content: flex-start;
    }

    /* About ends */

    /* Get-In-Touch starts */

    .get-in-touch .contact-card {
        display: grid;
        width: 100%;
    }
    .contact-card .title {
        font-size: .8rem;
        line-height: 50px;
    }

    /* Get-In-Touch ends */

    /* Clients start */


    .client-swiper .swiper-slide {
        flex-direction: column;
    }
    .client-details {
        text-align: center;
    }


    /* Clients end */


    /* Contact starts */


    .contact .content {
        flex-direction: column;
        font-size: .9rem;
    }
    .contact .contact-left {
        margin-bottom: 40px;
    }
    .contact-form .second-row {
        flex-direction: column;
    }
    .contact-form .second-row input {
        width: 100%;
    }
    
    
    /* Contact ends */

    /* Footer starts */

    footer .footer-container {
        display: flex;
        flex-direction: column;
    }
    .footer-container .about,
    .footer-container .info 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .footer-container .info ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-container .info ul li {
        margin: 5px 0;
    }
    .footer-container .hr {
        width: 100%;
        height: 2px;
        margin: 10px 0 22px;
        background: var(--header-bg-color);
    }

    /* Footer ends */

}


@media (max-width: 730px) {

    body {
        margin: 5rem 0 0 0;
        /* ? */
    }
    .section-title-01 {
        font-size: 3em;
    }
    .section-title-02 {
        font-size: 2em;
        transform: translateY(-65px);
    }

    /* Home starts */

    .home .home-container {
        display: grid;
    }
    .home-container .home-img {
        position: absolute;
    }
    .home-container .home-img img {
        width: 60%;
        transform: translate(80px,-180px);
    }
    .home .home-container .info {
        font-size: .8rem;
    }
    .media-icons {
        margin-bottom: 80px;
    }
    
    /* Home ends */

    /* Get-In-Touch starts */

    .get-in-touch .contact-card {
        display: grid;
    }
    .contact-card .title {
        font-size: .6rem;
        line-height: 40px;
    }
    .contact-card .contact-btn .btn {
        font-size: .8rem;
    }
    

    /* Get-In-Touch ends */
}